# This is Git's per-user configuration file.

[push]
	autoSetupRemote = true
	default = simple

[pull]
	rebase = true

# Specify the global .gitignore file
[core]
	excludesfile = ~/.gitignore_global

# Add conditional configurations for multiple accounts
[includeIf "gitdir:~/repos/ad_hoc/va/"]
    path = ~/.dotfiles/git/.gitconfig-work

[includeIf "gitdir:~/repos/personal/"]
    path = ~/.dotfiles/git/.gitconfig-personal

[credential]
    helper = "!~/.dotfiles/git/.git-credentials-helper.sh"
[user]
	email = japenner@gmail.com
	name = Jacob Penner
