# This is Git's per-user configuration file.

[push]
  autoSetupRemote = true
  default = current

[pull]
  rebase = true

# This is the global gitignore file.
[core]
  excludesfile = ~/.dotfiles/git/.gitignore_global
  editor = code --wait

[commit]
  template = ~/.dotfiles/git/.gitmessage.txt

# Include additional configuration files based on the repository type
[includeIf "gitdir:~/repos/**"]
  path = ~/.dotfiles/git/.gitconfig-personal

[includeIf "gitdir:~/repos/work/**"]
  path = ~/.dotfiles/git/.gitconfig-work

[credential]
  helper = "!~/.dotfiles/git/.git-credentials-helper.sh"

[user]
  email = japenner@gmail.com
  name = Jacob Penner
