#!/usr/bin/env zsh

# export GITHUB_PAT_PERSONAL
# export GITHUB_PAT_WORK
# export GITHUB_USERNAME_PERSONAL
# export GITHUB_USERNAME_WORK

# export JIRA_API_TOKEN
# export JIRA_AUTH_TYPE

# export OPENAI_API_KEY

# export WORK_DIR
